#laterInfo {
  display: none;
}

body {
  font-family: 'Cantarell', sans-serif;
  background-image: url("../img/money-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  min-height: 100%;
  background-position: center;
  overflow: hidden;
}

.jumbotron {
  text-align: center;
  width: 60vw;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.centered {
  text-align: center !important;
}

.card-header {
  margin-left: -0.925rem !important;
  margin-right: -0.925rem !important;
  margin-bottom: 10px;
  font-weight: 600;
}

.card {
  margin: 5px;
  max-width: 50vw;
}

.bg-success {
  background: rgb(40, 167, 69, 0.85) !important;
}

.card h5 {
  color: white;
  margin: 5px;
  text-align: center;
  font-weight: 600;
}

label {
  display: inline-block !important;
  text-align: right !important;
  margin-right: 7.5px;
  width: 25% !important;
  color: white;
}
input {
  width: 70% !important;
}

#balance {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  text-align: center;
}

#userAlert {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  max-width: 50vw;
}
